*{
    padding: 0;
    margin: 0;
    font-family: 'Acme', sans-serif;
    box-sizing: border-box;
    box-shadow: 0, .5rem, 1.5rem rgba(0,0,0,.2);
}

section {
    scroll-behavior: smooth;
}


.hero{
    height: 100vh;
    width: 100%;
    background-image: url(../background30.jpg);
    background-size: cover;
    background-position:center;
    


}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 55px;
    padding-left: 6%;
    padding-right: 6%;
}

.logo{
    color: white;
    font-size: 50px;
    letter-spacing: 1px;
    cursor: pointer;
}

span{
    color: rgb(201, 85, 85);
}

nav ul li{
    list-style-type:none;
    display: inline-block;
    padding: 10px 25px;
    font-size: 25px;
}


nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}

nav ul li a:hover{
    color:  rgb(201, 85, 85);
    transition: .4s;
}

.btn{
    background-color:  rgb(201, 85, 85);
    color: white ;
    text-decoration: yellow;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 40px;
    transition: transform .4s;
    font-size: 25px;
}

.btn:hover{
    transform: scale(1.5);
}

.contant{
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translateY(-50%);
}

h1{
    color: white;
    font-size: 45px;
    margin: 20px 0px 20px;
}
h3{
    color: white;
    font-size: 30px;
    margin-bottom: 50px;
}
h4{
color:rgb(54, 110, 110);
letter-spacing: 2px;
font-size: 20px;
}

.newsLetter form{
width: 350px;
max-width: 100%;
position: relative;
}

.newsLetter form input:first-child{
    display: inline-block;
    width: 100%;
    padding: 16px 130px 16px 15px;
    border: 2px solid rgb(201, 85, 85);
    outline: none;
    border-radius: 30px;
}

.newsLetter form input:last-child{
    position: absolute;
    display: inline-block;
    outline: none;
    padding: 10px 30px;
    background-color: rgb(201, 85, 85);
    color: #38ada9;
    box-shadow: 0px 0px 5px #000,0px 0px 15px #858585 ;
    border-radius: 15px;
    top: 6px;
    right: 10px;

}

.about{
    width: 100%;
    padding: 100px 0px;
    background-color: #7ea2aca6;
    background-image: url(../background30.jpg);
    background-size: cover;
    background-position: center ;

}

.about img{
    height: auto;
    width: 430px;
}

.aboutText{
    width: 550px;
}

.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

.aboutText h2{
    color: white;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.aboutText h5{
    color: white;
    font-size: 25px;
    text-transform: capitalize;
    margin-bottom: 20px;
    letter-spacing: 2px;
}
.aboutText p{
    color: white;
    font-size: 20px;
    text-transform: capitalize;
    margin-bottom: 40px;
    letter-spacing: 1px;
    line-height: 28px;
}
button{
    color: white;
    background-color: rgb(201, 85, 85);
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 30px;
    transition: .4s;
    letter-spacing: 1px;
    font-size: 20px;
}
button:hover{
    background-color: transparent;
    border: 2px solid rgb(201, 85, 85) ;
    cursor: pointer;
}

.service{
    background-color: rgb(205, 228, 231);
    width: 100%;
    padding: 20px 0px;
    background-image: url(../background30.jpg);
    background-size: cover;
    background-position: center bottom;
}
.title{
    color: white;
    font-size: 75px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}
.card{
    height: 490px;
    width: 330px;
    padding: 20px 35px;
    background: rgb(209, 213, 221);
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}
.card img{
    height: 80px;
    width: 200px;
}
.card i{
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color: crimson;
}
h5{
    color: rgb(150, 123, 165);
    font-size: 25px;
    margin-bottom: 20px;
}
.pra p{
    color: rgb(67, 90, 100);
    font-size: 25px;
    line-height: 27px;
    margin-bottom: 20px;
}
.card .button{
    color: white;
    background-color: rgb(201, 85, 85);
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 30px;
    transition: .4s;
    letter-spacing: 1px;
    font-size: 20px;
}
.card .button:hover{
    background-color: transparent;
    border: 2px solid rgb(201, 85, 85) ;
    cursor: pointer;
    color: rgb(201, 85, 85);
}
.contactMe{
    width: 100%;
    height: 320px;
   
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.contactMe p{
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    letter-spacing: 1.5px;
}
.contactMe .buttonTwo{
    color: white;
    background-color: rgb(201, 85, 85);
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 30px;
    transition: .4s;
    letter-spacing: 1px;
    font-size: 20px;
}
.contactMe .buttonTwo:hover{
    background-color: transparent;
    border: 2px solid rgb(201, 85, 85) ;
    cursor: pointer;
}
footer{
position: relative;
width: 100%;
height: 400px;
background-color: #7ea2aca6;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;    
}
footer p:nth-child(1){
    font-size: 30px;
    color: white;
    margin-bottom: 20px;
    font-weight: bold;
}
footer p:nth-child(2){
    font-size: 15px;
    color: black;
    margin-bottom: 20px;
    font-weight: bold;
    line-height: 25px;
}
.social{
    display: flex;
}
.social a{
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(201, 85, 85);
    border-radius: 50%;
    margin: 20px 10px;
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.social a:hover{
    transform: scale(1.4);
    transition: .3s;
}
.end{
    position: relative;
    color: rgb(201, 85, 85);
    bottom: 35px;
    font-size: 15px;
}
.ss{
    background-image: url(../background21.jpg);
    background-size: cover;
   background-position: top ;
}
